/*
 * Eve Online Plugin for WordPress
 *
 * Corporation members table stylesheet
 *
 * @package evecorp
*/

.entry-content {
	width: 100% !important;
}

.one-page .paging-input,.one-page .pagination-link, .disabled {
	display: none;
}

.displaying-num {
	display: inline;
}

table.fixed {
    table-layout: fixed;
}

.widefat {
	clear: both;
}

th.sortable a, th.sorted a {
    display: block;
    overflow: hidden;
    /*padding: 7px 7px 8px;*/
}

.column-alts img, .column-name img {
    float: left;
    margin-right: 10px;
    margin-top: 1px;
}

.alts div, .timezone {
    clear: both;
	border: 0px none;
	font-size: 80%;
}

.fixed .column-localtime {
    width: 15%;
}
